<div>
  <div class="picker-container">
    <div>c</div>
    <md-datepicker
      ng-model="$ctrl.isoDateFrom"
      ng-change="$ctrl.onDatesChanged()"
      md-max-date="$ctrl.isoDateTo | isoToDate"
      md-open-on-focus
      md-hide-icons="calendar"
      md-placeholder="From Date">
    </md-datepicker>
  </div>

  <div class="picker-container">
    <div>по</div>
    <md-datepicker
      ng-model="$ctrl.isoDateTo"
      ng-change="$ctrl.onDatesChanged()"
      md-min-date="$ctrl.isoDateFrom | isoToDate"
      md-open-on-focus
      md-hide-icons="calendar"
      md-placeholder="To Date">
    </md-datepicker>
  </div>
</div>

<div class="button-container">
  <md-button ng-click="$ctrl.setToday()">Сегодня</md-button>
  <md-button ng-click="$ctrl.setYesterday()">Вчера</md-button>
  <md-button ng-click="$ctrl.set2WeeksAgo()">2 недели</md-button>
  <md-button ng-click="$ctrl.setMonthAgo()">Месяц</md-button>
  <md-button ng-click="$ctrl.resetDates()">Все даты</md-button>
</div>
