<mc-dates date-from="$ctrl.date1" date-to="$ctrl.date2" mc-change="$ctrl.onDatesChange($event)"></mc-dates>

<hr>

<md-input-container>
  <label>Дата 1</label>
  <input ng-model="$ctrl.date1">
</md-input-container>

<md-input-container>
  <label>Дата 2</label>
  <input ng-model="$ctrl.date2">
</md-input-container>
<br>
<md-button ng-click="$ctrl.resetDates()">Reset</md-button>
